.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}

.fighter-preview___right {
  align-items: flex-end;
  text-align: right;
}

.fighter-preview___left {
  align-items: flex-start;
  text-align: left;
}

.fighter-preview___info {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___right .fighter-preview___info {
  flex-direction: row-reverse;
}

.fighter-preview___info img {
  height: 400px;
}

.fighter-preview___right .fighter-preview___info img {
  transform: scaleX(-1);
}

.fighter-preview___stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.fighter-preview___right .fighter-preview___stats {
  border-left: 5px solid #ca9650;
}

.fighter-preview___left .fighter-preview___stats {
  border-right: 5px solid #ca9650;
}

.fighter-preview___info span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 3%;
  font-size: 30px;
}
